.container {
    position: relative;
    background: rgba(0,0,0,.6);
    border: 1px solid #25384a;
    // height: 650px;
    // max-width: 1095px;
    // min-width: 1095px;
    padding: 2rem;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Center divs vertically */
    align-items: center;
    /* Center divs horizontally */
    padding: 1rem;

    @media (max-width: 620px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Center divs vertically */
        align-items: center;
        /* Center divs horizontally */
        padding: 1rem;
    }
}

.left,
.middle,
.right {
    /* Optional: Add some margin between divs */
}

.left {
    flex: 1 1;
    height: 100%;
    padding: 1rem;
    // background-color: #ff9999;
}

.middle {
    @media (max-width: 900px) {
        display: none;
    }
    // padding-top: 1rem;
    padding: 1rem;
    flex: 1.6 1;
    // background-color: #99ff99;
    
}

.right {
    flex: 1 1;
    height: 100%;
    padding: 1rem;
    // background-color: #9999ff;
}

.container .left {
    margin-top: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playerCard {
    position: relative;
    justify-content: center;
    @media (max-width: 620px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* Center divs vertically */
        align-items: center;
        /* Center divs horizontally */
        padding: 1rem;

    }
}

.playerCard .dp {
    height: 170px;
    width: 170px;
    color: #000;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

.playerCard .name .edit input {
    text-transform: capitalize;
    border: 1px solid #658284;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: oswald;
    padding: 0 30px 0 10px;
    font-size: 1rem;
    color: #b8ecef !important;
    font-weight: 200;
    letter-spacing: .8px;
}

.playerCard .name {
    position: absolute;
    top: -45px;
    color: #000;
    text-transform: capitalize;
    font-weight: 200;
}

.playerCard .name .edit {
    width: 170px;
    height: 35px;
    position: relative;
}

.playerCard .name .edit:after {
    position: absolute;
    content: "";
    background-image: url(https://cryptoduels.gq/edit-icon.png);
    background-position: 50%;
    background-size: contain;
    height: 15px;
    width: 15px;
    right: 7px;
    bottom: 10px;
    z-index: 5;
}

.playerCard .details {
    position: absolute;
    color: #fff;
    bottom: -30px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0px;

    @media (max-width: 620px) {
        bottom: -20px;
    }
}

.secondaryBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 2px solid #d3aa93;
    background: #23161a;
    font-family: oswald;
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 1.3px;
    padding-bottom: 3px;
    color: #ecddc4;
    margin-bottom: 7px;
    position: relative;
    text-shadow: 0 0 8px #d3aa93;
    font-weight: 400;
    transition: .2s;
    box-shadow: inset 0 0 0.3em 0 #d3aa93, 0 0 0.3em 0 #d3aa93;
    margin-top: 3rem;
    display: flex;
    height: 40px !important;
    width: 210px !important;
    font-size: 1.4rem;
    bottom: calc(0px + 1rem);
    width: calc(100% - 2rem);
    margin-bottom: unset;
}

.secondaryBtn:after {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 6px;
    background: #fff;
    border: 2px solid #d3aa93;
    width: 100%;
    box-shadow: inset 0 0 0.1em 0 #d3aa93, 0 0 0.1em 0 #d3aa93;
}

.container .left .disconnectBtn {
    height: 45px !important;
    width: 210px !important;
    position: relative;
    font-size: 1.6rem;
    bottom: calc(2px - 17rem);
    width: calc(100% - 2rem);
    @media (max-width: 620px) {
        position: absolute;
        bottom: calc(0px + 1rem);

    }
}

.pfpBtn {
    @media (min-width: 900px) {
        display: none;

    }
}
.disconnectBtn{
    height: 45px!important;
    width: 210px!important;
    position: absolute;
    font-size: 1.6rem;
    bottom: calc(0px + 1rem);
    width: calc(100% - 2rem);
}

.refundArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin-top: 30px;
    color: #feecb6;
    @media (max-width: 620px) {
        margin-top: 22px;

    }
}
.container .refundArea .plus {
    position: absolute;
    font-size: 25px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -32px;
    width: 44px;
    height: 32px;
}

.thirdBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 210px;
    border: 2px solid orange;
    background: #471002;
    font-family: oswald;
    font-size: 1.8rem;
    letter-spacing: 1.3px;
    padding-bottom: 3px;
    color: #feecb6;
    margin-bottom: 7px;
    position: relative;
    text-shadow: 0 0 8px orange;
    font-weight: 400;
    transition: .2s;
    box-shadow: inset 0 0 0.3em 0 orange, 0 0 0.3em 0 orange;
}

.refundArea .returnBtn {
    width: 210px!important;
    font-size: 1.1rem;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refundArea .minus {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25px;
    width: 44px;
    height: 32px;
    font-size: 30px;
    cursor: pointer;
}
.container .left .refundArea .returnBtn:after, .container .left .refundArea .returnBtn:before {
    content: "";
    position: absolute;
    background: #511902;
    height: 30px;
    width: 40px;
    border: 2px solid orange;
    box-shadow: inset 0 0 0.1em 0 orange, 0 0 0.1em 0 orange;
}
.container .left .refundArea .returnBtn:after {
    bottom: -32px;
}
.container .left .refundArea .returnBtn:before {
    content: "";
    position: absolute;
    background: #511902;
    height: 30px;
    width: 40px;
    border: 2px solid orange;
    box-shadow: inset 0 0 0.1em 0 orange, 0 0 0.1em 0 orange;
}
.container .left .refundArea .returnBtn:before {
    top: -30px;
}

.leaderBoardArea {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    flex-direction: column;
}
.leaderBoardArea button {
    width: 210px!important;
    font-size: 1.1rem;
    height: 45px;
    margin: 10px 0;
    @media (max-width: 620px) {
        margin: 3px 0;

    }
}
.mainBtn, .mainBtn:after {
    border: 2px solid #ff3665;
}
.mainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 370px;
    background: #530420;
    font-family: oswald;
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 7px;
    letter-spacing: 1.3px;
    padding-bottom: 3px;
    position: relative;
    transition: .2s;
    text-shadow: 0 0 10px #ff3665, 2px 2px 10px #ff3665, -2px -2px 10px #ff3665;
    box-shadow: inset 0 0 0.5em 0 #ff3665, 0 0 0.5em 0 #ff3665;
    cursor: pointer;
}
.mainBtn:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 4px;
    background: #fff;
    width: 100%;
    box-shadow: inset 0 0 0.1em 0 #ff3665, 0 0 0.1em 0 #ff3665;
}
.mainBtn:after {
    border: 2px solid #ff3665;
}

.pfpContainer {
    text-align: center;
    border: 2px solid #7c7c7c;
    background: rgba(55,196,240,.15);
    height: 100%;
    width: 100%;
    padding: 0.8rem 5px 0;
    overflow: hidden;
    color: #fff;
}
.pfpContainer p {
    opacity: .5;
    font-weight: 200;
    font-size: .9rem;
    letter-spacing: .5px;
}

.pfpContainer .scroll {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 82%;
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 5px;
}
.pfpContainer .scroll .selected {
    outline: 3px solid #afd7e8;
}
.pfpContainer .scroll .box {
    margin: 7px 5px;
    cursor: pointer;
    height: 67px;
    width: 67px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    transition: .1s;
    will-change: transform;
    
}



// right

.container .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-weight: 200;
}
.container .middle, .container .right {
    flex: 1 1;
    height: 100%;
    padding: 1rem;
}

.container .right .heading {
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: .5px;
}
.container .right .buy {
    height: 40px;
    width: 80%;
    color: #000;
    text-transform: capitalize;
    font-weight: 200;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: flex;
}

.container .right .buy .editBuy {
    width: 170px;
    height: 35px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .right .buy .editBuy:after {
    position: absolute;
    content: "";
    background-image: url(/edit-icon.png);
    background-position: 50%;
    background-size: contain;
    height: 15px;
    width: 15px;
    right: 7px;
    bottom: 10px;
    z-index: 5;
}
.container .right .priceText {
    margin-top: 5px;
    text-align: center;
}

.container .right .thirdBtn {
    width: 80%;
    height: 40px;
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.thirdBtn:after {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    background: #fff;
    border: 2px solid orange;
    width: 100%;
    box-shadow: inset 0 0 0.1em 0 orange, 0 0 0.1em 0 orange;
}

.lobby .container .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-weight: 200;
}

.container .right .heading {
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: .5px;
}

.container .right .selectContainer {
    position: relative;
    width: 80%;
    margin-top: 10px;
    font-weight: bolder;
}

.container .right .selectContainer .select {
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    position: relative;
    width: 100%;
    border: 1px solid #fff;
    cursor: pointer;
}

.container .right .selectContainer .options {
    position: absolute;
    border: 1px solid #fff;
    border-top: unset;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 7px;
}

.container .right .selectContainer .options .opt {
    height: 35px;
    background: #000;
    width: 100%;
    transition: .2s;
    font-size: 1.1rem;
    color: #978b85;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .right .gameMode {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.container .right .gameMode .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.container .right .gameMode .buttons .selected {
    background: #d5e3e9;
    box-shadow: 0 0 5px 1px #fff;
    color: #42565e;
    border: 1px solid #fff;
}

.container .right .gameMode .buttons button {
    width: 90px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .2s;
    font-family: oswald;
    background: rgba(0,0,0,.5);
    border: 1px solid #fff;
    color: #fff;
}

.container .right .inviteBtn {
    margin-top: 20px!important;
}

.container .right .thirdBtn {
    width: 80%;
    // height: 40px;
    // margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.container .right .startBtn {
    display: flex;
    height: 50px!important;
    width: 100%!important;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    @media (max-width: 620px){  
        justify-content: center;
        align-items: center;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

.container .right .inviteBtn {
    margin-top: 5px!important;
}
.container .right .buy {
    height: 40px;
    width: 80%;
    color: #000;
    text-transform: capitalize;
    font-weight: 200;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: flex;
}

.container .right .buy .editBuy input {
    border: none;
    text-transform: capitalize;
    width: 100%;
    height: 100%;
    background: transparent;
    font-family: oswald;
    padding: 0 30px 0 10px;
    font-size: 1rem;
    color: #fff!important;
    font-weight: 200;
    letter-spacing: .8px;
    text-align: center;
}

.container .right .buy .editBuy:after {
    position: absolute;
    content: "";
    background-image: url(https://cryptoduels.gq/edit-icon.png);
    background-position: 50%;
    background-size: contain;
    height: 15px;
    width: 15px;
    right: 7px;
    bottom: 10px;
    z-index: 5;
}

.middle .pfpContainer .scroll .box img {  
  transition: transform .1s;
}
.middle .pfpContainer .scroll .box img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}